.input
  width: 100%
  padding: .5rem

  label
    font-size: .8rem
    font-weight: bold
    background-color: var(--color-warning)
    border-radius: 5px
    padding: 3px 5px
    margin-bottom: 5px
    overflow: hidden

  input, textarea, select
    width: 100% !important
    border: none
    border-bottom: solid 2px var(--color-primary)
    background-color: transparent
    font-size: 1rem
    padding: .5rem

  span
    width: 100%
    display: block
    padding: 0 1rem
    margin-top: .5rem
    font-size: .8rem
    font-weight: bold
    color: var(--color-danger)
    font-style: italic

